.vscode
*.log
__pycache__/
*.py[cod]
*.orig
.coverage
.coverage.*
.tox/
.cache/
build/
/*.egg-info
dist/
*.sqlite3
# Remove static that are created after collectstatic by manage.py
static/
media/
docker/app/*.whl
docker/.env
.pytest_cache/
.idea/*
_ignore_*
docs/*
.env
.scannerwork
