repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.261
    hooks:
      - id: ruff

  - repo: local
    hooks:
      - id: check-version-and-changelog
        name: Check version and changelog
        entry: python scripts/check_version_and_changelog.py
        language: python
        pass_filenames: true
        always_run: true
        require_serial: true
        stages:
          - push
