# Django
django==4.1.3
djangorestframework==3.14.0
django-filter==22.1
django-extensions==3.2.1
django-redis==5.2.0
django-cors-headers==3.13.0
django-rosetta==0.9.8

# Authentication
djangorestframework-simplejwt==5.2.2
PyJWT==2.6.0

# Celery
celery==5.2.7
django-celery-results==2.4.0
django-celery-beat==2.4.0

# Others
gunicorn==20.1.0
psycopg2-binary==2.9.5
model-bakery==1.9.0
redis==4.3.4
colorlog==6.7.0
drf-spectacular==0.24.2
pillow==9.3.0
django-cleanup==6.0.0
